
.main-about{
    position: relative;
    top: 85px;
    align-items: center;
    background-color: black;
}
.pics{
    height: 300px;
}
.pics2{
    height: 300px;
    margin-left: 20px;
}
.pics4{
    height: 300px;
    margin-left: 20px;
    width: 500px;

}
.pics3{
    height: 300px;
    margin-top: 50px;
}
.headingz{
    align-items: center;
    margin-left: 550px;
    color: aliceblue;
    
}
.listed-img{
    gap: 2.5rem;
    margin: 20px;
}
.label-images{
    margin-left: 150px;
}